body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(157, 179, 249);
  background: radial-gradient(
    circle,
    rgba(157, 179, 249, 1) 0%,
    rgba(118, 222, 153, 1) 100%
  );
}

@keyframes fadeInOut {
  25% {
    opacity: 20%;
  }

  100% {
    opacity: 100%;
  }
}

* {
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Bangers", sans-serif;
  color: #01635b;
  margin-bottom: 10px;
}

.content h2 {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 600;
  color: rgb(4, 65, 126);
  animation: fadeInOut 2s infinite;
}

#search-gifs h2 {
  display: flex;
  justify-content: center;
  color: rgb(4, 65, 126);
}

h3 {
  display: flex;
  justify-content: center;
  color: #01635b;
}

h4 {
  display: flex;
  justify-content: center;
  color: #01635b;
}

p {
  font-weight: 600;
  color: rgb(4, 65, 126);
  animation: fadeInOut 2s infinite;
}

#container p {
  display: flex;
  justify-content: center;
}

#enjoy-random-gif {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 600;
  color: rgb(4, 65, 126);
  animation: fadeInOut 2s infinite;
}
.team-name {
  font-family: "Bangers", sans-serif;
  color: #01635b;
  font-size: 128px;
  text-align: center;
  width: 100%;
  margin-bottom: -30px;
  margin-top: 30px;
  cursor: pointer;
  user-select: none;
  outline: none;
  text-shadow: -2px -2px 0 #004d40, 2px -2px 0 #004d40, -2px 2px 0 #004d40,
    2px 2px 0 #004d40;
  transition: color 0.3s ease;
}

.team-name:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #ffffff, 0 0 16px #ffffff, 0 0 24px #01635b;
}

#app .nav {
  border-radius: 12px;
  padding: 0 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.164);
  margin-top: 20px;
  margin-bottom: 3px;
  width: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-content {
  display: flex;
  height: 60px;
  align-items: center;
  list-style: none;
  position: relative;
}

.link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95px;
  text-decoration: none;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-item.active {
  transform: translateY(-10px);
}

.link-icon {
  font-size: 38px;
  color: #01635b;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-item.active .link-icon {
  color: rgb(4, 65, 126);
}

.link-icon {
  padding: 0;
  margin: 0;
}

.link-item .link-icon:hover {
  filter: drop-shadow(0 0 22px #ffffff) drop-shadow(0 0 16px #ffffff)
    drop-shadow(0 0 24px #4a90e2);
}

.link-text {
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  color: rgb(4, 65, 126);
  opacity: 0;
  transform: translateY(32px);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-bottom: 18px;
}

.link-item.active .link-text {
  opacity: 1;
}

.indicator {
  position: absolute;
  top: -10px;
  left: 13%;
  transform: translateX(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #01635b;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-container {
  width: 70%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.search-bar {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.search-bar input[type="text"],
.search-bar button {
  padding: 10px;
  height: 40px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.search-bar input[type="text"] {
  width: calc(100% - 52px);
  border-right: none;

  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  background-color: unset;
  border: unset;
  box-shadow: 0 5px 15px rgba(98, 201, 74, 0.164);

  outline: solid #01635b 2px;
}

.search-bar button {
  width: 40px;
  background: #01635b;
  color: white;
  border: none;
  border-radius: 12px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  outline: solid green 2px;
}

.search-bar button:hover {
  background: rgb(4, 65, 126);
  box-shadow: 0 0 8px #ffffff, 0 0 16px #ffffff, 0 0 24px #4a90e2;
}

#container {
  margin-top: 100px;
}

.gif {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#about .content {
  text-align: center;
  margin-top: 50px;
  border-radius: 12px;
  padding: 0 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.164);
  background: unset;
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
  margin-bottom: 10px;
}

.gifs-container {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;

  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;

  width: 70%;
  margin: 20px auto;
  padding: 0 20px;
}

.gifs-container {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;

  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;

  width: 70%;
  margin: 20px auto;
  padding: 0 20px;
}

.gif-only img {
  width: 100%;
  height: auto;
  gap: 20px display block;
}

.gif-only img {
  width: 100%;
  height: auto;
  gap: 20px display block;
  cursor: pointer;
  max-width: 350px;
}

.gif-only > .favorite {
  position: absolute;
  visibility: hidden;
  font-size: 30px;
  color: #01635b;
  margin-left: 10px;
}

.gif-only:hover .favorite {
  visibility: visible;
  cursor: pointer;
  z-index: 999;
}

.gif-only {
  transition: transform 0.2s ease-in-out;
}

.gifs-container .gif-only:hover {
  transform: scale(1.12);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.gifs-container:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

.gif-only {
  z-index: 2; /* Ensure the GIF is above the overlay */
}

@media (max-width: 1600px) {
  .gif-only {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}
@media (max-width: 1200px) {
  .gif-only {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (max-width: 800px) {
  .gif-only {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 600px) {
  .gif-only {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .gif-only {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

#upload-form {
  display: inline-grid;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.164);
  border: unset;
}

#upload-form input[type="file"] {
  padding: 10px;
  border: 2px solid #01635b;
  border-radius: 12px;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
  width: 100%;
}

#upload-form button {
  display: flex;
  justify-self: center;
  background-color: #01635b;
  color: white;
  border: unset;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 150px;
  padding: 5px 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#upload-form button:hover {
  background: rgb(4, 65, 126);
  box-shadow: 0 0 8px #ffffff, 0 0 16px #ffffff, 0 0 24px #4a90e2;
}

#gif-upload::-webkit-file-upload-button {
  display: none;
}

.custom-upload-button-label {
  display: flex;
  justify-content: center;
  background-color: #01635b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-upload-button-label:hover {
  background: rgb(4, 65, 126);
  box-shadow: 0 0 8px #ffffff, 0 0 16px #ffffff, 0 0 24px #4a90e2;
}

#gif-upload::-webkit-file-upload-button {
  display: none;
}
